<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <server>
        <port>8080</port>
        <timezone>EST5EDT</timezone>
    </server>
    <gallery>
        <name>Simple Gallery</name>
        <description>Simple gallery example</description>
        <host>http://localhost</host>
        <webadmin>Simple Gallery Team</webadmin>
    </gallery>
    <email>
        <sendgrid>
            <username></username>
            <password></password>
            <apikey></apikey>
        </sendgrid>
        <address>
            <email-validation>noreply@example.com</email-validation>
            <forgot-password>noreply@example.com</forgot-password>
            <contact-us>support@example.com</contact-us>
        </address>
        <subject>
            <email-validation>Validate Your Email Address</email-validation>
            <forgot-password>Password Reset</forgot-password>
        </subject>
    </email>
</settings>
