#sticky {
    padding-top: 10px;
    padding-left: 10px;
    top: 0px;
    position:absolute;
}
#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}
#sticky-anchor {
    position:absolute;
}