###Hello {{user_name}}!

Thanks for signing up for {{gallery_name}}! We need to verify your email before you can log in.

To verify your email please [click this link]({{email_verification_link}}) or copy and paste ```{{email_verification_link}}``` into your browser's address bar.

Thanks!

{{gallery_webadmin}}
