###Hello {{user-name}}!

Thanks for signing up for {{gallery-name}}! We need to verify your email before you can log in.

To verify your email please [click this link]({{email-verification-link}}) or copy and paste ```{{email-verification-link}}``` into your browser's address bar.

Thanks!

{{gallery-webadmin}}
